<style>
        body {
          background-image: url(https://tse2.mm.bing.net/th?id=OIP.d4I1m4N9BK0VYo5B178dSgHaEK&pid=Api&P=0&h=180);
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }
        </style>